Delivery_time -> Predict delivery time using sorting time

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df = pd.read_csv('delivery_time.csv')
df.head()

   Delivery Time  Sorting Time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [ ]:
df.corr()

               Delivery Time  Sorting Time
Delivery Time       1.000000      0.825997
Sorting Time        0.825997      1.000000

In [ ]:
x = df['Delivery Time']
y = df['Sorting Time']

In [ ]:
x1 = x.astype(int)

In [ ]:
x = x.values.reshape(-1,1)

In [ ]:
from sklearn import linear_model
classification = linear_model.LinearRegression()

In [ ]:
classification.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y = y.values.reshape(-1,1)
y_pred = classification.predict(y)
print(y_pred)

[3.38076291 0.89830115 1.7257884  2.96701929 3.38076291 1.7257884
 2.13953203 0.48455752 3.38076291 2.96701929 2.55327566 0.89830115
 2.13953203 0.48455752 0.48455752 0.89830115 1.7257884  2.13953203
 0.07081389 2.13953203 1.31204477]